<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- This file was created with the aha Ansi HTML Adapter. https://github.com/theZiz/aha -->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="application/xml+xhtml; charset=UTF-8"/>
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        <title>Skonaki</title>
    </head>
    <body style="color:white; background-color:black">
        <form hx-get="/:suggest" hx-target="#content">
            <label style="font-weight:bold;color:yellow;">Fill out the command you want to see</label><br/><br/>
            <label>$ curl {{ .Domain }}/</label>
            <input name="file" style="color: inherit; border: none; background-color: transparent;" autofocus="" required/>
            <br/><br/>
        </form>
        <form hx-post="/:suggest" hx-target="#list" id="content" hx-swap-oob="true">
        {{ block "form" . }}
        {{ end }}
        </form>
        {{ block "pre" .List }}
        {{ end }}
    </body>
</html>
{{ define "pre" }}
<br/><label style="font-weight:bold;color:yellow;">The suggestions we already have are:</label><br/>
<pre id="list" hx-swap-oob="true">{{ . }}<pre>

{{ end }}

{{ define "form" }}
{{ if .Content }}
<input name="path" value="{{ .Path }}" hidden/>
<label style="font-weight:bold;color:yellow;">What would you like the skonaki to include</label><br/><br/>
<textarea rows="20" cols="80" name="sug-text" style="color: inherit;  background-color: transparent;" autofocus=""  value="" required>{{ .Content }}</textarea>
<input type="submit"/>
{{ end }}
{{ end }}
